<div class="container">
    <div>
        <h2>Puedes contactar conmigo a través del formulario, mediante <a class="tertiary"
                href="mailto:sanguinad@gmail.com"><strong>correo
                    electrónico</strong></a> o encontrarme en
            <a class="tertiary" target="blank"
                href="https://www.linkedin.com/in/danielsanguinoguerra"><strong>Linkedin</strong></a>.
        </h2>

        <form [formGroup]="formContact" (ngSubmit)="onSubmit()">



            <input class="form-control mb-3 p-3" type="text" placeholder="Nombre" formControlName="nombre">
            @if(checkError('nombre', 'required')){
            <p class="text-danger">Debes incluir un nombre.</p>
            } @if(checkError('nombre', 'pattern')){
            <p class="text-danger">El campo nombre debe de tener al menos 3 letras.</p>
            }
            <input class="form-control mb-3 p-3" type="text" placeholder="Email" formControlName="email">
            @if(checkError('email', 'required')){
            <p class="text-danger">Debes incluir un email válido.</p>
            } @if(checkError('email', 'pattern')){
            <p class="text-danger">El formato de email debe ser válido</p>
            }
            <textarea class="form-control mb-3 p-3" type="text" placeholder="Mensaje"
                formControlName="mensaje"></textarea>
            @if(checkError('mensaje', 'pattern')){
            <p class="text-danger">Este campo no puede estar vacío. Por favor escribe un mensaje.</p>
            }
            <input class="btn btn-dark p-3" value="Enviar mensaje" type="submit">

        </form>

    </div>
</div>
<ngx-sonner-toaster richColors closeButton position="bottom-center" />