<div class="general">
    <div class="titulo">
        <h1 class="tertiary">BOOTCAMP</h1>
        <h2>PROGRAMACIÓN Y DESARROLLO WEB FULL STACK</h2>
        <h5>⏱️ 450 HORAS</h5>
        <p class="tertiary">¿QUÉ TECNOLOGÍAS HE APRENDIDO?</p>
    </div>

    <div class="tecno">
        <h3>BASES DE DATOS</h3>
        <div>
            <img src="https://back-portfolio-bwgy.onrender.com/images/mysql.png" alt="Imagen de proyecto">
            <img src="https://back-portfolio-bwgy.onrender.com/images/mongo.png" alt="Imagen de proyecto">
        </div>
    </div>
    <div class="tecno">
        <h3>BACK-END</h3>
        <div>
            <img src="https://back-portfolio-bwgy.onrender.com/images/node.png" alt="Imagen de proyecto">
        </div>
    </div>
    <div class="tecno">
        <h3>FRONT-END</h3>
        <div class="back">
            <img src="https://back-portfolio-bwgy.onrender.com/images/angular.png" alt="Imagen de proyecto">
            <img src="https://back-portfolio-bwgy.onrender.com/images/html.png" alt="Imagen de proyecto">
            <img style="transform: scale(0.7);" src="https://back-portfolio-bwgy.onrender.com/images/css.png"
                alt="Imagen de proyecto">
        </div>
    </div>
    <div class="tecno">
        <h3>CONTROL DE VERSIONES</h3>
        <div class="versiones">
            <img src="https://back-portfolio-bwgy.onrender.com/images/git.png" alt="Imagen de proyecto">
            <img src="https://back-portfolio-bwgy.onrender.com/images/sourcetree.png" alt="Imagen de proyecto">
        </div>
    </div>
    <div class="tecno">
        <h3>LENGUAJES DE PROGRAMACIÓN</h3>
        <div>
            <img src="https://back-portfolio-bwgy.onrender.com/images/javascript.png" alt="Imagen de proyecto">
            <img src="https://back-portfolio-bwgy.onrender.com/images/typescript.png" alt="Imagen de proyecto">
        </div>
    </div>
</div>