<div class="general">
    <h1>THE WANDERLUST BLOG</h1>

    <div class="texto">

        <h2>🧩 Resumen del proyecto</h2>

        <p>Proyecto individual desarrollado como ejercicio de práctica de la parte de angular . Me encargué del
            desarrollo frontend y del diseño, siendo este responsivo para facilitar su uso en cualquier tamaño de
            pantalla. El blog permite visualizar los posts publicados y la sección de noticias, así como crear tus
            propias publicaciones. En este caso se desarrolló a través de un array de datos estático creado en el propio
            servicio de Angular</p>
        <hr>
        <h2>📸 Galería</h2>
        <div class="galeria">
            <figure>
                <img src="/images/blog/Captura de pantalla 2025-05-07 a las 21.52.28.png" alt="">
                <figcaption>
                    <small>Página de inicio con útlimos posts publicados y seción de noticias.</small>
                </figcaption>
            </figure>
            <figure>
                <img src="/images/blog/Captura de pantalla 2025-05-07 a las 22.23.21.png" alt="">
                <figcaption>
                    <small>Formulario de creación de publicaciones.</small>
                </figcaption>
            </figure>
            <figure>
                <img src="/images/blog/Captura de pantalla 2025-05-07 a las 22.23.45.png" alt="">
                <figcaption>
                    <small>Listado de posts publicados.</small>
                </figcaption>
            </figure>
            <figure>
                <img src="/images/blog/Captura de pantalla 2025-05-07 a las 22.24.08.png" alt="">
                <figcaption>
                    <small>Sección de noticias.</small>
                </figcaption>
            </figure>
            <figure>
                <img src="/images/blog/Captura de pantalla 2025-05-07 a las 22.33.50.png" alt="">
                <figcaption>
                    <small>Otra vista de la página de inicio.</small>
                </figcaption>
            </figure>
            <figure>
                <img src="/images/blog/Captura de pantalla 2025-05-07 a las 22.32.53.png" alt="">
                <figcaption>
                    <small>Post de un viaje a Nueva York.</small>
                </figcaption>
            </figure>


        </div>

    </div>
</div>