<div class="container">
    <div class="titulo">
        <div>
            <h5 class="animate__backInRight">Hola mundo! mi nombre es</h5>
            <h1 class="animate__zoomIn"><span>DANI</span> SANGUINO</h1>
            <h2 class="animate__backInRight tertiary">FULL STACK DEVELOPER</h2>
            <h4>Dando mis primeros pasos en el mundo del <strong>desarrollo web</strong>. Cada línea de
                código es una aventura y una oportunidad para crecer.</h4>
            <h4> Busco retos que me empujen a mejorar y dejar mi
                huella en cada proyecto.</h4>
        </div>
    </div>
    <div class="imagen">
        <figure>
            <div class="media-container">
                <div class="background"></div>
                <img src="/images/2019_06_04_12_07_48-IMG_2138-EOS80D-Edit-2.jpg" alt="Dani Sanguino">
            </div>
        </figure>