<div class="proyectos">
    <h1 class="tertiary">PROYECTOS</h1>
    <div class="proyecto">
        <figure class="expo crm">
            <img id="crm" style="transform: scale(1.3)" src="/images/image copy 6.png" alt="Imagen desktop CRM-GARAGE">
            <img id="crm" style="transform: translateX(1.5rem);" src=" /images/image copy 5.png"
                alt="Imagen móvil CRM-GARAGE">
        </figure>
        <div>
            <h2 [routerLink]="['/crm']"><strong>CRM-GARAGE </strong> →</h2>
            <h4>Desarrollo de un software para la gestión de un taller mecánico de coches. Aplicación desarrollada con
                <strong>Angular</strong> para la parte del front, <strong>ExpressJS</strong> sobre
                <strong>NodeJS</strong> para el back y con base de datos <strong>MySQL</strong>.
            </h4>
            <p>🗓️ 2025</p>

        </div>
        <hr>
    </div>

    <div class="proyecto">
        <figure class="expo">
            <img class="blog" src="/images/image copy.png" alt="Imagen del blog The Wanderlust Blog">
        </figure>
        <div>
            <h2 [routerLink]="['/blog']"><strong>THE WANDERLUST BLOG </strong>→</h2>
            <h4>Blog de viajes realizado con <strong>Angular</strong> en el que los usuarios pueden publicar sus propios
                viajes.
            </h4>
            <p>🗓️ 2025</p>
        </div>
        <hr>
    </div>
    <div class="proyecto">
        <figure class="expo">
            <img src="/images/image copy 4.png" alt="Imagen pantalla inicio restaurante Rovers">
        </figure>
        <div>
            <h2><strong>RESTAURANTE ROVERS</strong></h2>
            <h4>Práctica de <strong>HTML</strong> y <strong>CSS</strong> en la que se desarrolla una página de un
                restaurante.</h4>
            <p>🗓️ 2025</p>
        </div>
        <hr>
    </div>


</div>