<div class="wrapper">
    <h1>CRM-GARAGE</h1>
    <div class="flex">
        <div class="media"><video src="/videos/Diseño sin título(1).mp4" autoplay loop></video>

        </div>

        <div class="texto">

            <h2>🧩 Resumen del proyecto</h2>

            <p>Proyecto grupal desarrollado como ejercicio final del bootcamp. Nos enargamos del diseño, desarrollo
                frontend y backend, pruebas y documentación.
            <p>Este CRM fue desarrollado para cubrir la necesidades de un taller
                mecánico. Permite gestionar clientes, reparaciones y mecánicos, con búsquedas por teléfono, correo,
                número de t nota de taller. Está orientado a facilitar la gestión diaria del taller y a
                mejorar el seguimiento de los trabajos.</p>
            <hr>

            <h2>⚙️ Tecnologías utilizadas</h2>
            <ul>
                <li>Frontend: Angular 17, Bootstrap</li>
                <li>Backend: Node.js, Express</li>
                <li>Base de datos: MySQL</li>

                <li>Librerías y herramientas:
                    <ul>
                        <li>jsonwebtoken para autenticación mediante JWT</li>
                        <li>nodemailer para el envío de correos electrónicos</li>
                        <li>Formularios reactivos y servicios en Angular</li>
                    </ul>
                </li>

            </ul>
            <hr>
            <h2>🔧 Proceso de desarrollo</h2>
            <p> Comenzamos identificando las entidades clave: clientes, reparaciones, usuarios (admin y mecánicos)
                , notas, registro de horario... Diseñamos la base de datos en MySQL y construimos una API REST con
                Express. En el frontend, utilizamos Angular para crear una interfaz rápida y fácil de usar, con filtros
                por estado y
                formularios reutilizables. La seguridad y autenticación se manejan con JWT y configuramos nodemailer
                para notificaciones automáticas por correo.</p>
            <p>Aprendimos a trabajar con formularios complejos y validaciones personalizadas en Angular. Aprendimos a
                trabajar con formularios complejos y validaciones personalizadas en Angular.</p>
            <p>Fue un reto diseñar una experiencia de usuario clara para personal no técnico.</p>
            <hr>
            <h2>📸 5. Galería</h2>
            <div class="galeria">
                <figure>
                    <img src="/images/crm/Captura de pantalla 2025-05-07 a las 22.59.06.png" alt="">
                    <figcaption>
                        <small>Menú empleado con últimos registros.</small>
                    </figcaption>
                </figure>
                <figure>
                    <img src="/images/crm/Captura de pantalla 2025-05-07 a las 22.59.28.png" alt="">
                    <figcaption>
                        <small>Menú listado clientes.</small>
                    </figcaption>
                </figure>
                <figure>
                    <img src="/images/crm/Captura de pantalla 2025-05-07 a las 23.00.19.png" alt="">
                    <figcaption>
                        <small>Menú cliente con con gestión de notas y vehículos.</small>
                    </figcaption>
                </figure>
                <figure>
                    <img src="/images/crm/Captura de pantalla 2025-05-07 a las 23.00.42.png" alt="">
                    <figcaption>
                        <small>Listado de notas de taller.</small>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>