html {
  scroll-behavior: smooth;
}
body.dark {
  --bg-color: rgb(216, 228, 252);
  --text-color: black;

  .tertiary {
    color: var(--tertiary-color);
  }
}

body.cool {
  --bg-color: rgb(88, 36, 212);
  --text-color: rgb(216, 228, 252);
  .tertiary {
    color: rgb(62, 174, 107);
  }
}
:root {
  --tertiary-color: rgb(88, 36, 212);
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  transition: 1.5s;
  position: relative;
  min-height: 100vh;
  font-size: 1rem;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
@media (max-width: 1200px) {
}
