<div class="wrapper">
    <div class="general">
        <div>
            <h1 class="animate__backInLeft tertiary">¿QUIÉN SOY?</h1>
            <div class="animate__backInRight">
                <p>Mi nombre es Dani, hace poco decidí reinventarme y lanzarme al mundo del desarrollo web y
                    la <strong>programación full-stack</strong>.

                    Aunque mi camino empezó en el deporte —me licencié en CCAFYDE y me especialicé en gestión
                    deportiva—,
                    con el tiempo entendí que mi pasión no tenía por qué ser mi profesión. Buscando nuevos retos,
                    descubrí
                    el <strong>desarrollo web</strong> y desde entonces no he dejado de aprender un solo día. Del
                    deporte al desarrollo
                    web,
                    buscando un cambio en mi vida profesional.
                </p>
                <!-- <p class="tertiary">¿Te interesa saber cómo me he formado y en qué he trabajado? <strong>Haz click más
                        abajo</strong> para conocer
                    para conocer mi
                    camino.</p> -->

            </div>
        </div>
        <div class="formaciones">
            <button [routerLink]="['/formacion']" class="btn btn-dark animate__backInLeft">📚 FORMACIÓN
                ACADÉMICA</button>

            <button [routerLink]="['/experiencia']" class="btn btn-dark animate__backInRight">💼 EXPERIENCIA LABORAL
                PREVIA</button>

        </div>
        <div class="animate__backInUp">
            <p class="tertiary" [routerLink]="['/contacto']">¿Con ganas de más? <strong>Hablemos.</strong>
            </p>
        </div>
    </div>
</div>